@font-face {
  font-family: 'Londrina';
  src: url('../fonts/londrinasolid-regular-webfont.woff2') format('woff2'),
       url('../fonts/londrinasolid-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background:#84D2DD;
  font-size:0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

p {
  font-family:Londrina, sans-serif;
  font-size:64px;
  color:#31204C;
  text-align:center;
  margin:150px 0;
}

#scroll-top {
  width:100%;
}

#scroll-item {
  width:100%;
  margin-top:-1px;
  background:url(../assets/scroll-item.png) repeat-y top center / 100% auto;
  height:100000000px;
}
