@font-face {
  font-family: 'Londrina';
  src: url('../fonts/londrinasolid-regular-webfont.woff2') format('woff2'),
       url('../fonts/londrinasolid-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background:black;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

#app {
  width:100%;
  height:100%;
  background:black;
  position:absolute;
  overflow:hidden;
}

video {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;  
}

#intro {
  z-index:99;
}
